.add-hotel-wrapper {
    margin-top: 2rem;
    .back-button {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #3498db;
        border-radius: 0.25rem;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #3498db;
            svg {
                fill: #fff;
            }
        }
    }
}