.add-hotel-link {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    text-decoration: none;
    color: #3498db;
    .icon-wrapper {
        border: 2px solid #3498db;
        border-radius: 0.25rem;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: inline-block;
        margin-left: 0.5rem;
        font-weight: bolder;
        font-size:1.25rem;
    }
    &:hover {
        .icon-wrapper {
            background-color: #3498db;
            svg {
                fill: #fff;
            }
        }
    }
}